# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# DJANGO
# ==============================
db.sqlite3
media/
staticfiles/

# ==============================
# VIRTUAL ENV
# ==============================
venv/
env/
.venv/

# ==============================
# ENV FILE
# ==============================
.env

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# LOG
# ==============================
*.log
